<nav class="py-6 py-lg-8 bg-black">
  <div class="container">
    <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
      <div class="me-auto mb-40">
        <a href="#" class="mb-4_5">
          <img src="/assets/images/navbar/logo-footer.png" alt="logo">
        </a>
        <ul class="list-unstyled d-lg-flex">
          <li><a href="#" class="text-white me-4_5">常見問題</a></li>
          <li><a href="#" class="text-white me-4_5">關於我們</a></li>
          <li><a href="#" class="text-white me-4_5">隱私權政策</a></li>
          <li><a href="#" class="text-white">使用者條款</a></li>
        </ul>
      </div>
      <div class="ms-auto">
        <div class="d-flex justify-content-lg-end mb-3">
          <a href="#"><i class="bi bi-line text-white me-3 icon-20 border rounded-circle p-2"></i></a>
          <a href="#"><i class="bi bi-youtube text-white me-3 icon-20 border rounded-circle p-2"></i></a>
          <a href="#"><i class="bi bi-facebook text-white icon-20 border rounded-circle p-2"></i></a>
        </div>
        <p class="text-white fs-14">copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.</p>
      </div>
    </div>
  </div>
</nav>
