<nav class="navbar navbar-expand-lg border-top py-4 py-lg-5 footer-gray">
  <div class="container">
    <div class="navbar-collapse d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center" id="navbarText">
      <ul class="list-unstyled mb-2 mb-lg-0 d-flex flex-wrap justify-content-center">
        <li class="nav-item">
          <a class="nav-link px-3 px-md-4 py-2 fs-14 text-black" href="#">服務方案</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 px-md-4 py-2 fs-14 text-black" href="#">關於職旅</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 px-md-4 py-2 fs-14 text-black" href="#">聯絡我們</a>
        </li>
        <!-- Force line break on small screens -->
        <div class="w-100 d-lg-none"></div>
        <li class="nav-item">
          <a class="nav-link px-3 px-md-4 py-2 fs-14 text-black" href="#">隱私權政策</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 px-md-4 py-2 fs-14 text-black" href="#">用戶條款</a>
        </li>
      </ul>
      <span class="navbar-text fs-14">
        Copyright © 2025 職旅 workway. All rights reserved.
      </span>
    </div>
  </div>
</nav>
