<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom py-2_5 sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logo.svg" alt="logo">
    </a>

    <div class="d-flex">
      <!-- Avatar (visible on mobile, positioned before toggler) -->
      <div class="d-md-none">
        <a href="user.html" class="d-flex align-items-center text-decoration-none">
          <img src="/assets/images/avatar.png" alt="avatar" class="rounded-circle border me-2 user-avatar">
          <span>Mokumaru</span>
        </a>
      </div>

      <!-- Navbar toggler (now on the right) -->
      <button class="d-lg-none navbar-toggler border-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon icon-24"></span>
      </button>
    </div>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link me-3 text-black fs-6" href="#">服務方案</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3 text-black fs-6" href="#">關於職旅</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3 text-black fs-6" href="#">聯絡我們</a>
        </li>
      </ul>
    </div>

    <!-- Avatar (visible on desktop only) -->
    <div class="d-none d-md-block">
      <a href="user.html" class="d-flex align-items-center text-decoration-none">
        <img src="/assets/images/avatar.png" alt="avatar" class="rounded-circle border me-2 user-avatar">
        <span>Mokumaru</span>
      </a>
    </div>
  </div>
</nav>