.object-fit-cover {
  object-fit: contain;
  height: 100%;
}

.login-cover-img {
  width: 600px;
  height: 1000px;
  object-fit: contain;
  display: block;
}

@media (min-width: 992px) {
  .py-111 {
    padding-top: 111px;
    padding-bottom: 111px;
  }
}

.underlined {
  text-decoration: underline;
}

.swiper,
.swiper-slide,
.login-cover-img {
  border-radius: 40px;
  overflow: hidden;
}

.login-btn:hover {
  background-color: $primary-100 !important;
  cursor: pointer;
}

.login-btn:hover span {
  color: $white !important;
}