.side-width {
  width: 300px;
}

.tab-btn-bg {
  .nav-link {
    background-color: $white;
  }
}

.fs-14 {
  font-size: 14px;
}

@media (max-width: 992px) {
  .mb-40 {
    margin-bottom: 40px !important;
  }
}