<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>user</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body class="bg-line-bg">
  <%- include('./layout/header'); -%>

    <main class="bg-neutral-15">
      <div class="container py-4_75 py-lg-9">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="mb-4_75 mb-lg-6">
              <div class="position-relative">
                <img src="/assets/images/user/hero.png" alt="hero" class="img-fluid w-100 rounded hero-img">
                <a href="#" class="btn position-absolute bottom-0 end-0 text-white mb-4_5 me-4_5 d-none d-lg-inline">
                  <span class="material-symbols-outlined me-1 align-bottom text-white">edit</span>
                  更換封面
                </a>
              </div>
              <div class="position-relative text-center">
                <div class="position-absolute top-0 start-50 translate-middle">
                  <img src="/assets/images/user/avatar-1.png" alt="avatar-1"
                    class="rounded-circle user-avatar-md user-avatar-lg border-4">
                  <a href="#">
                    <span
                      class="material-symbols-outlined position-absolute bottom-0 end-0 me-2 align-bottom p-2 bg-primary rounded-circle text-white">
                      edit
                    </span>
                  </a>
                </div>
              </div>
              <div class="text-center mt-6">
                <p class="text-primary fs-4 fw-bold">Jessica</p>
                <p class="text-primary">jessica.yen@gmail.com</p>
              </div>
            </div>
            <div class="mb-3 mb-lg-4 bg-white rounded padding-nav">
              <ul class="nav nav-underline d-flex justify-content-between">
                <li class="nav-item flex-fill">
                  <a class="nav-link active text-primary fw-bold" aria-current="page" href="#">我的帳號</a>
                </li>
                <li class="nav-item flex-fill">
                  <a class="nav-link text-primary fw-bold" href="#">訂單管理</a>
                </li>
                <li class="nav-item flex-fill">
                  <a class="nav-link text-primary fw-bold" href="#">我的收藏</a>
                </li>
              </ul>
            </div>
            <div class="bg-white rounded padding-info">
              <h1 class="mb-4_75 fs-2 fs-lg-0_5 fw-bold">我的帳號</h1>
              <ul class="nav nav-underline mb-4" role="tablist">
                <li class="nav-item me-4_5">
                  <a class="nav-link active text-primary fw-bold" data-bs-toggle="tab" href="#profile"
                    role="tab">個人資訊</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-primary" data-bs-toggle="tab" href="#traveler" role="tab">常用旅客</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="profile" role="tabpanel">
                  <ul class="list-unstyled mb-4_75">
                    <li class="mb-4">
                      <h3 class="mb-2 fs-6">姓名</h3>
                      <p class="fs-6 fw-700 fw-bold">Jessica Yen</p>
                    </li>
                    <li class="mb-4">
                      <h3 class="mb-2 fs-6">電子信箱</h3>
                      <p class="fs-6 fw-700 fw-bold">jessica.yen@gmail.com</p>
                    </li>
                    <li class="mb-4">
                      <h3 class="mb-2 fs-6">密碼</h3>
                      <p class="fs-6 fw-700 fw-bold">************</p>
                    </li>
                    <li class="mb-4">
                      <h3 class="mb-2 fs-6">聯絡電話</h3>
                      <p class="fs-6 fw-700 fw-bold">+886 912-345-678</p>
                    </li>
                    <li class="mb-4">
                      <h3 class="mb-2 fs-6">地址</h3>
                      <p class="fs-6 fw-700 fw-bold">台北市士林區幸福路193號5樓之1</p>
                    </li>
                    <li class="mb-4">
                      <h3 class="mb-2 fs-6">生日</h3>
                      <p class="fs-6 fw-700 fw-bold">1995-09-20</p>
                    </li>
                  </ul>
                  <div class="text-end">
                    <button type="button" class="btn border px-4_5 py-3 fw-bold btn-w100-sm">
                      <span class="material-symbols-outlined me-1 align-bottom">edit</span>
                      編輯資訊
                    </button>
                  </div>
                </div>
                <div class="tab-pane fade" id="traveler" role="tabpanel">
                  <!-- 常用旅客 content here -->
                  <div class="mb-4_75">
                    <!-- 1-a -->
                    <a href="#" class="d-none d-lg-block p-4 mb-2_5 rounded traveler-hover">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex">
                          <img src="/assets/images/user/avatar-1.png" alt="avatar-1"
                            class="icon-40 me-2 align-self-center">
                          <p class="align-self-center fs-5 fw-bold blackish-green">Jessica Yen</p>
                        </div>
                        <div class="traveler-actions d-none">
                          <button type="button" class="btn border px-4_5 py-3 fw-bold bg-white">
                            <span class="material-symbols-outlined me-1 align-bottom">edit</span>
                            編輯資訊
                          </button>
                          <button type="button" class="btn border px-4_5 py-3 fw-bold bg-white">
                            <span class="material-symbols-outlined me-1 align-bottom">close</span>
                            刪除
                          </button>
                        </div>
                      </div>
                    </a>
                    <!-- 1-b -->
                    <a href="#" class="d-block d-lg-none p-4 mb-2_5 rounded traveler-hover">
                      <div class="">
                        <div class="d-flex mb-3">
                          <img src="/assets/images/user/avatar-1.png" alt="avatar-1"
                            class="icon-40 me-2 align-self-center">
                          <p class="align-self-center fs-5 fw-bold blackish-green">Jessica Yen</p>
                        </div>
                        <div class="d-flex justify-content-center">
                          <button type="button" class="btn border px-4_5 py-3 fw-bold bg-white me-2 w-100">
                            <span class="material-symbols-outlined me-1 align-bottom">edit</span>
                            編輯資訊
                          </button>
                          <button type="button" class="btn border px-4_5 py-3 fw-bold bg-white w-100">
                            <span class="material-symbols-outlined me-1 align-bottom">close</span>
                            刪除
                          </button>
                        </div>
                      </div>
                    </a>
                    <!-- 2-a -->
                    <a href="#" class="d-none d-lg-block p-4 rounded traveler-hover">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex">
                          <img src="/assets/images/user/avatar-2.jpg" alt="avatar-2"
                            class="icon-40 me-2 rounded-circle align-self-center">
                          <div class="align-self-center">
                            <p class="fs-5 fw-bold blackish-green">Jenny Lin</p>
                            <div class="d-flex d-none d-md-flex">
                              <span class="material-symbols-outlined icon-16 align-self-center me-2">
                                cake
                              </span>
                              <p class="text-primary-100">Jenny.Linnn@gmail.com</p>
                            </div>
                            <div class="d-flex d-none d-md-flex">
                              <span class="material-symbols-outlined icon-16 align-self-center me-2">
                                mail
                              </span>
                              <p class="text-primary-100">2001.01.30</p>
                            </div>
                          </div>
                        </div>
                        <div class="traveler-actions d-none">
                          <button type="button" class="btn border px-4_5 py-3 fw-bold bg-white">
                            <span class="material-symbols-outlined me-1 align-bottom">edit</span>
                            編輯資訊
                          </button>
                          <button type="button" class="btn border px-4_5 py-3 fw-bold bg-white">
                            <span class="material-symbols-outlined me-1 align-bottom">close</span>
                            刪除
                          </button>
                        </div>
                      </div>
                    </a>
                    <!-- 2-b -->
                    <a href="#" class="d-block d-lg-none p-4 rounded traveler-hover">
                      <div class="">
                        <div class="d-flex mb-3">
                          <img src="/assets/images/user/avatar-2.jpg" alt="avatar-2"
                            class="icon-40 me-2 rounded-circle align-self-center">
                          <div class="align-self-center">
                            <p class="fs-5 fw-bold blackish-green">Jenny Lin</p>
                            <div class="d-flex d-none d-md-flex">
                              <span class="material-symbols-outlined icon-16 align-self-center me-2">
                                cake
                              </span>
                              <p class="text-primary-100">Jenny.Linnn@gmail.com</p>
                            </div>
                            <div class="d-flex d-none d-md-flex">
                              <span class="material-symbols-outlined icon-16 align-self-center me-2">
                                mail
                              </span>
                              <p class="text-primary-100">2001.01.30</p>
                            </div>
                          </div>
                        </div>
                        <div class="d-flex justify-content-center">
                          <button type="button" class="btn border px-4_5 py-3 fw-bold bg-white me-2 w-100">
                            <span class="material-symbols-outlined me-1 align-bottom">edit</span>
                            編輯資訊
                          </button>
                          <button type="button" class="btn border px-4_5 py-3 fw-bold bg-white w-100">
                            <span class="material-symbols-outlined me-1 align-bottom">close</span>
                            刪除
                          </button>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="text-end">
                    <button type="button" class="btn border px-4_5 py-3 fw-bold btn-w100-sm">
                      <span class="material-symbols-outlined me-1 align-bottom">add</span>
                      新增常用旅客
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>